  <button class='number-input__button number-input__button--down' {{action 'decrease'}}>down</button>

  <span class="number-input__prefix">{{prefix}}</span>
  {{input class="number-input__input" type='text' inputmode='numeric' value=value}}
  <span class="number-input__suffix">{{suffix}}</span>
  
  <button class='number-input__button number-input__button--up' {{ action 'increase'}}>up</button>

{{yield}}